@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

.playerUI {
    width: 300px;
    height: 900px;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.player1Lives {
    color: white;
    font-size: 40px;
    margin-top: 50px;
    font-family: 'Pixelify Sans';
}

.heartContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 75px;
}

#heartImage {
    height: 50px;
    width: 50px;
}

.livesContainer {
    display: flex;
    width: 75%;
    height: 75px;
}

.weaponContainer {
    color: white;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
    font-family: 'Pixelify Sans';
    width: 100%;
    height: 150px;
}

#AK47 {
    width: 300px;
    height: 200px;
    margin-left: 35px;
}