body {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color: black;

}

#game {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column-reverse;
}

#gameArea {
  background-color: wheat;
  height: 900px;
  width: 900px;
  border: 4px black solid;
  position: relative;
  z-index: 0;
}

#gameArea:hover {
  cursor: url(https://cur.cursors-4u.net/symbols/sym-6/sym580.cur), auto !important;} /* End https://www.cursors-4u.com */
